@keyframes apresentacao {
    from {
        transform: translateX(-100vw) rotate(180deg);
    }

    50% {
        transform: translateX(30vw) rotate(180deg);
    }

    to {
        transform: translateX(0) rotate(-360deg);
    }
}