.sobre_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2em;
    text-align: center;

    .perfil_img {

        img {
            height: 300px;
            width: 300px;
            border-radius: 100%;
            border: 3px solid $secondary-color;
            object-fit: cover;
        }
    }

    .about {
        h1 {
            color: $secondary-color;
            font-size: 3em;
            margin: .8em 0;
        }

        ul {
            font-size: 2em;
        }

        p {
            font-size: 2em;
        }
    }
}

//responsividade
@media(max-width: 800px) {
    .sobre_section {
        margin: 1em;

        .about {
            h1 {
                font-size: 2em;
            }
    
            ul {
                font-size: 1.5em;
            }
    
            p {
                font-size: 1.5em;
            }
        }
    }
}