.section_button {
    width: 100%;
    
    button {
        background-color: transparent;
        border: none;
        position: absolute;
        top: 50%;
        cursor: pointer;
    }

    .anterior {
        left: 10px;
    }

    .proximo {
        rotate: 180deg;
        right: 10px;
    }

    .section_caroussel {
        width: 70%;
        height: 70vh;
        margin: .5em auto;

        img {
            border-radius: 20px;
        }
    }

    .section_detalhes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        h1 {
            color: $secondary-color;
            font-size: 2em;
        }

        p {
            margin: .4em 0;
            font-size: 1.5em;
            width: 70%;
        }

        a {
            margin-top: .4em;
            color: $secondary-color;
            font-size: 1.7em;

            &:hover {
                border-bottom: 1px solid $primary-color;
            }
        }

    }
}