.section_button {
    width: 100%;
    
    button {
        background-color: transparent;
        border: none;
        position: absolute;
        top: 70%;
        cursor: pointer;
    }

    .anterior {
        left: 8px;
    }

    .proximo {
        rotate: 180deg;
        right: 8px;
    }

    .section_caroussel {
        width: 65%;
        height: 70vh;
        margin: .5em auto;

        img {
            border-radius: 20px;
            border: 3px solid $background-secondary;
        }
    }

    .section_detalhes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        h1 {
            color: $secondary-color;
            font-size: 2em;
        }

        p {
            margin: .4em 0;
            font-size: 1.5em;
            width: 70%;
            text-align: center;
        }

        a {
            margin-top: .4em;
            margin-bottom: .5em;
            color: $secondary-color;
            font-size: 1.7em;

            &:hover {
                border-bottom: 1px solid $primary-color;
            }
        }

    }
}

@media (max-width: 800px) {
    .section_button {
        .section_caroussel {
            width: 80%;
            height: 70vh;
            visibility: visible;
        }

        .active {
            width: 75%;
            height: 50vh;
            visibility: hidden;
        }

        .section_detalhes {
            a {
               font-size: 1.4em; 
            }
        }
    }
}